.container {
  width: 100%;
  text-align: center;
}
.counter-app {
  display: inline-block;
  width: 30%;
  min-width: 350px;
  text-align: center;
  margin: 20% 0;
  padding: 0 10%;
  background-image: linear-gradient(
    140deg,
    #eadedb 0%,
    #e22ea9 50%,
    #d6cd41 75%
  );
  color: white;
  opacity: 0.95;
  border-radius: 10px;
}
.counter-app h1 {
  font-family: 'Style Script', cursive;
  font-size: 350%;
}
.counter-app .count {
  font-size: 500%;
}
.counter-app .buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  padding-bottom: 10%;
}
.counter-app .btn {
  width: 140px;
  min-width: 140px;
  padding: 1%;
  font-size: 150%;
  border-radius: 5%;
}
.counter-app .subtract {
  background-color: brown;
  color: cornsilk;
}
.counter-app .add {
  background-color: chartreuse;
  color: cornsilk;
}
.svg-inline--fa {
  margin-right: 5px;
}
.counter-app hr {
  color: ghostwhite;
  border: solid;
}
